body { background-color: #2A2625; }
.well_1 {
	text-align: center;
	background-color: #1e1f21;
	color: #d6d2c5;
	border: none;
	margin: 200px;
	padding-top: 60px;
}
.buttonTemp {
	border: none;
	background: none;
	color: blue;
}